

.home-container{
    /* change to vw  */
    width: 100%;
    height: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

.content-container{
    height: auto;
    width: auto;
    border: 1px solid var(--primary-color);
    border-radius: 20px;
    margin-top: 2%;
    gap: 100px;
    border: none;
    display: flex;
    flex-direction: column;
    /* grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); */
    /* border: 1px solid black; */
    align-items: center;
    justify-content: center;

}

@media screen and (max-width: 1200px){
    .content-container{
        margin-top: 15%;
    }
}

.my-image-container{
    width: clamp(20vw, 30vw, 30vw);
    height: auto;
    /* border: 1px solid red; */
    margin-bottom: 0;
}

.my-image{
    /* width: 30vw; */
    width: clamp(20vw, 30vw, 30vw);
    height: auto;
    border-radius: 10px;
    display: block;
    margin: 0;
    padding: 0;
    user-select: none;
}

.information-container{
    height: auto;
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    /* border: 1px solid red; */
    text-align: center;
    align-content: center;
}

.about-me-description{
    color: var(--primary-color);
    margin-bottom: 10px;
    font-size: clamp(.3em, 5vw, 3em);
    display: flex;
    justify-content: center;
}
.profile-description{
    font-size: clamp(.5em, 4vw, 1.2em);
}

.home-contants-container{
    display: none;
    /* width: 50%; */
    width: clamp(30%, 50vw, 50%);
    margin: auto;
    margin-top: 30px;
    padding-top: 10px;
    border-top: 1px solid black;
}

@media  screen and (max-width: 1200px) {
    .home-contants-container{
        display: block;
    }
}