

.about-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
}

.about-content-container{
    height: 75vh;
    height: 75dvh;
    width: 60%;
    margin-top: 2%;
}

.about-nav{
    height: 10%;
    width: 100%;
    text-align: center;
    align-content: center;
}

.about-nav ul li{
    display: inline;
    font-size: clamp(1.2em, 2vw, 2em);
    user-select: none;
    color: var(--primary-color);
    font-weight: bold;
    border-bottom: 2px solid white;
}
.about-nav ul li:hover{
    cursor: pointer;
    color: black;
    /* border-bottom: 2px solid black; */
}

.about-paths{
    border-right: 1px solid black;
    padding-right: 3%;
    padding-left: 3%;
}
#about-more-info{
    border-right: none;
}

.about-info-container{
    height: 90%;
    width: 100%;
    border: 3px solid black;
    background-color: rgb(252, 252, 252);
}

#about-main-container{
    display: block;
}
#about-me-container{
    display: none;
}
#about-interest-container{
    display: none;
}
#about-more-info-container{
    display: none;
}