

.contacts{
    display: flex;
    font-size: 2em;
    align-items: center;
    justify-content: space-between;
    width: auto;
    background: none;
}

.contact a{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 10px;
    padding: 6px 15px;
}
.contact a:hover{
    cursor: pointer;
    color: var(--primary-color);
    border-color: var(--primary-color);
    background-color: var(--hover-color);
}