*{
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
  --primary-color: rgb(68, 14, 107);
  --second-color: rgb(38, 10, 58);
  --hover-color:rgba(68, 14, 107, 0.077);
  scroll-behavior: smooth;
  scrollbar-width: none;

}

body{
  transition: smooth;
}

.navagation{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  height: 10dvh;
  width: 100%;
  background-color: var(--second-color);
}
.logo-container{
  margin-left: 2%;
}
.logo{
  font-size: 3em;
  font-size: clamp(2em, 3vw, 3em);
  background-color: var(--second-color);
  color: white;
  text-shadow: -1px -1px 2px white;
  user-select: none;
}

.navagation-paths{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2%;
  height: 7vh;
  height: 7dvh;
  width: auto;
  padding: 0 6%;
  border-radius: 10px;
}

.paths{
  font-size: 1.5em;
  margin-right: 5%;
  background: none;
  color: var(--second-color);
  border: 1px solid white;
  border-radius: 10px;
  padding: 6px;
}

.paths:hover{
  color: var(--primary-color);
  border-color: var(--primary-color);
  background-color: var(--hover-color);
}

.more-options-button{
  display: none;
  height: 50px;
  width: 50px;
  margin-right: 2%;
  border-radius: 5px;
  background: none;
  align-items: center;
  justify-content: center;
}

.span-container:hover{
  cursor: pointer;
}

.span-container span{
  height: 10px;
  width: 40px;
  border: none;
  border-bottom: 3px solid white;
  display: block;
  background-color: var(--second-color);
}

.media-nav-bar-container{
  display: none;
  height: auto;
  height: auto;
  width: 25vw;
  position: fixed;
  right: 0;
  flex-direction: column;
  background-color: var(--second-color);
}
.media-paths{
  color: white;
  background: none;
  height: 5vh;
  height: 5dvh;
  text-align: center;
  align-content: center;
  border-top: 1px solid white;
}
.media-paths:hover{
  background-color: var(--primary-color);
}
.media-paths:active{
  color: gray;
}
.media-paths:focus{
  outline: none;
  color: white;
}

@media screen and (min-width: 800px){
  .media-nav-bar-container{
    display: none;
  }
}

@media screen and (max-width: 1200px){
  .contacts-container{
    display: none;
  }
  .media-contacts-container{
    display: block;
  }
}

@media screen and (max-width: 800px){
  .more-options-button{
    display: flex;
  }
  .navagation-paths{
    display: none;
  }
}

@media screen and (min-width: 800px){
  .media-nav-bar-container{
    display: none !important;
  }
}